* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 2rem;
    background-color: #081b31;
    color: white;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
}

.choice {
    height: 150px;
    width: 150px;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #e93178;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 5rem;
}

#user-score,
#comp-score {
    font-size: 5rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
    display: inline;
    padding: 2rem;
}